.monopoly-app
    height calc(100vh - 56px)

	.gamelist-logo
    width 700px
    height 175px
    margin auto
    margin-top 70px
    display block

	.gamelist-logo-inner
    width 107px
    height 105px
    margin auto
    padding-top 10px

	.gamelist-logo-text
    width 172px
    height 31px
    float left
    margin-left 268px
    margin-top 37px

	.gamelist-logo-filter
    width 115px
    height 40px
    margin-top 30px
    float right
    span
      display block
      margin-top 16px
      margin-left 17px
      color #8b8b8b
      float left
    img
      margin-top 23px
      margin-left 8px

  .gamelist-content
    width 700px
    height 235px
    margin auto
    margin-top 32px

  .gamelist-subcontent
    width 688px
    height 52px
    margin auto
    margin-top 2px
    margin-bottom 8px
    background-color #ffffff
    float right
    .gamelist-subcontent__host
      width 117px
      height 52px
      margin auto
      float left
    .gamelist-subcontent__info
      width 498px
      height 52px
      margin auto
      float left
    .gamelist-subcontent__button
      width 73px
      height 52px
      margin auto
      float left

  .gamelist-refresh
    width 171px
    height 35px
    margin auto
    img
      display inline-block
      margin-top 16px
