.gameboard-cell

.main-block
  width 150px
  height 150px
  background-color black
.gorizontal
  width 50px
  height 150px
  background-color green
  writing-mode tb-rl
  margin auto
.vertical
  width 150px
  height 50px
  background-color red
