 .monopoly-app
    background-color #e6e6e6
	.monopoly-header
		.menu
			align-items center
			display flex
			color #414141
			.text
				padding-left 5px
				font-weight bold
				font-size 25px
			.icon
				height 25px
				width 25px

	.header-user-form
		display flex
		align-items center
		justify-content space-between
		
		.sing-up
			background-color #414141
			color #fff
			padding 5px 10px

		a
			margin 3px
			font-weight bold
			color #414141

			img
				height 30px
				width 30px
				background-color #414141

	.monopoly-header-inner
		display flex
		justify-content space-between
		padding 10px 20px
