.monopoly-app
    height calc(100vh - 56px)

	.monopoly-banner
		width 100%
		position relative
		display flex
		align-items center
		align-content center
		justify-content center
		margin-bottom 50px
		.monopoly-banner-inner
			margin-top 50px
			width 50%
			min-width 250px
			max-width 500px
			img
				display block
				max-width 100%
				border none

	.game
		margin-top 50px
		margin-bottom 50px
		background-color #e6e6e6
		.game-inner
			display flex
			justify-content center
			flex-wrap wrap
			a
				background-color #636363
				color #fff
				font-weight bold
				text-align center
				padding 15px 15px
				margin 10px
				width 220px
