.monopoly-app
    height calc(100vh - 56px)
    width 100%

	.pregame-logo
    width 700px
    height 175px
    margin auto
    margin-top 70px
    display block

  	.pregame-logo-inner
      width 107px
      height 128px
      margin auto
      padding 10px 0px

  	.pregame-logo-text
      font-size 28px
      color #414141
      margin 5px 225px
      font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  .game-info
    display inline-flex
    flex-direction row
    font-size 15px
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    margin 0px 80px
    span
      margin 0px 10px
  .players-acc
    display block
    width 570px
    margin 25px 55px
    .player-acc
      display inline-flex
      flex-direction row
      width 570px
      height 60px
      background-color #ffffff
      margin 10px 0px
      box-shadow 0 6px 4px -4px rgba(0, 0, 0, .1)
      .icon
        border-radius 50%
        width 40px
        height 40px
        background-color #636363
        margin 10px 15px
      .player-info
        display inline-block
        margin 12px 0px
        border-right 1px solid #D0D0D0
        padding-right 30px
        width 100px
        .player-counter
          font-size 16px
        .level-counter
          font-size 12px
      .levels
        display inline-flex
        flex-direction row
        margin 0px 20px
        width 140px
        .level
          border-radius 50%
          width 24px
          height 24px
          background-color #D0D0D0
          margin 18px 5px
      .button-remove
        display inline-flex
        color #D0D0D0
        font-family 'Helvetica', 'Arial', sans-serif
        font-size 46px
        width 53px
        height 60px
        line-height 60px
        padding-left 17px
        margin-left 150px
        border-left 1px solid #D0D0D0
  .button
    display inline-block
    color #ffffff
    font-size 15px
    font-weight bold
    text-align center
    background-color #343434
    width 160px
    height 35px
    margin 0px 260px
    padding 8px
