.game_panel
  display flex
  flex-direction column
  padding 3rem 7rem
  align-items center
  .extended__logo
    width 300px
    height auto
  .controls_button:nth-child(2n)
    margin 0 3rem
  .controls_button
    width 15rem
    height 3rem
    background-color white
    border none
    border-radius 0.3rem
    font-weight bold
    &:hover
      background-color #929FAA
  .buttons_box
    padding-top 4rem

  .players_field
    display flex
    flex-flow row wrap
    justify-content space-between
    padding-top 2rem
    .player
      display flex
      border 2px solid #435D79
      line-height 3.5rem
      margin .5rem 0
      &_output
        width 19rem
        height 3.5rem
        padding-left 1rem
      &_btn
        text-align center
        width 4rem
        background-color red
        border-left: 2px solid #435D79
        cursor pointer
      


