.chatmain-main
  height 100%
  max-width 78%
  border-top 1px solid #333
  .chatmain-header
    display flex
    height 59px
    flex-direction row
    border-bottom 1px solid #333
    padding-left 12px
    font-family Helvetica Neue, Helvetica Arial, sans-serif
    font-size 22px
    padding-top 13px
    padding-bottom 13px
    color black
  .chatmain-body
    padding 0px
    ul
      list-style-type none
      padding 0px
      margin 0px
      li
        display flex
        flex-wrap wrap
        .icon
          height 35px
          width 35px
          border-radius 50%
          background-color #333
          margin 9px 12px
        a
          color black
          font-family Helvetica Neue, Helvetica Arial, sans-serif
          font-size 15px
          padding 17px 30px 17px 0px
        .message
          color black
          font-family Helvetica Neue, Helvetica Arial, sans-serif
          font-size 15px
          padding 17px 30px
          overflow-wrap break-word
          max-width 78%
