.users-main
  width 22%
  background-color #ffffff
  float right
  position absolute
  top 141px
  right 0px
  border-left 1px solid #333
  .users-header
    display flex
    height 60px
    flex-direction row
    border-bottom solid 1px #333
    border-top solid 1px #333
    .my-icon
      margin-top 15px
      margin-left 10px
    .text
      margin-top 18px
      padding-left 12px
      font-family Helvetica Neue, Helvetica Arial, sans-serif
      font-size 15px
      color #22689f
   .users-body
     display flex
     flex-direction row
     overflow auto
     height 460px
     .counter
       font-family Helvetica Neue, Helvetica Arial, sans-serif
       color #333
       margin-left 10px
       margin-top 7px
       font-size 15px
       margin-bottom 10px
     ul
       list-style-type none
       padding 0px
       width 283px
     li
       margin-left 10px
       margin-top 7px
       display flex
       margin-bottom 7px
     a
       display inline-flex
       color #22689f
       padding-left 15px
       margin-bottom 12px
       white-space nowrap
       font-family Helvetica Neue, Helvetica Arial, sans-serif
       font-size 15px
