.monopoly-app
    height calc(100vh - 56px)

	.monopoly-logo
		width 100%
		position relative
		display flex
		align-items center
		align-content center
		justify-content center
		margin-bottom 50px
		.monopoly-logo-inner
			margin-top 75px
			width 50%
			min-width 90px
			max-width 330px
			img
				display block
				max-width 100%
				border none
