.gameboard-cell
  &.main-block
    position relative
    display flex
    justify-content center
    align-items center
    width 150px
    height 150px
    background-color #7D7D7D
    h4
      position absolute
      padding-top 45px
      color white
      z-index 5
    .player0
      position absolute
      width 0
      height 0
      top 12px
      left 12px
      border-left 12px solid transparent
      border-right 12px solid transparent
      border-top 24px solid red
    .player1
      position absolute
      left 36px
      top 39px
      width 0
      height 0
      border-width 12px 12px 12px
      border-style solid
      border-color green green transparent
    .player2
      position absolute
      left 60px
      top 63px
      width 24px
      height 24px
      border-radius 50%
      background-color blue
    .player3
      position absolute
      left 84px
      top 91px
      width 24px
      height 24px
      background-color black
    .player4
      position absolute
      left 108px
      top 118px
      width 0
      height 0
      border-left 12px solid transparent
      border-right 12px solid transparent
      border-bottom 24px solid yellow
  &.gorizontal:nth-child(2n)
    background-color #CFCFCF
  &.gorizontal
    width 50px
    height 150px
    background-color #D9D9D9
    position relative
    h4
      transform rotate(90deg)
      margin-top 40px
    .player0
      position absolute
      left 12px
      top 12px
      width 0
      height 0
      border-left 12px solid transparent
      border-right 12px solid transparent
      border-top 24px solid red
    .player1
      position absolute
      left 12px
      top 39px
      width 0
      height 0
      border-width 12px 12px 12px
      border-style solid
      border-color green green transparent
    .player2
      position absolute
      left 12px
      top 63px
      width 24px
      height 24px
      border-radius 50%
      background-color blue
    .player3
      position absolute
      left 12px
      top 91px
      width 24px
      height 24px
      background-color black
    .player4
      position absolute
      top 118px
      left 12px
      width 0
      height 0
      border-left 12px solid transparent
      border-right 12px solid transparent
      border-bottom 24px solid yellow
  &.vertical:nth-child(2n+1)
    background-color #CFCFCF
  &.vertical
    position relative
    display inline-flex
    width 150px
    height 50px
    padding-left 25px
    align-items center
    background-color #D9D9D9
    .player0
      position absolute
      left 5px
      top 13px
      width 0
      height 0
      border-left 12px solid transparent
      border-right 12px solid transparent
      border-top 24px solid red
    .player1
      position absolute
      left 32px
      top 13px
      width 0
      height 0
      border-width 12px 12px 12px
      border-style solid
      border-color green green transparent
    .player2
      position absolute
      left 59px
      top 13px
      width 24px
      height 24px
      border-radius 50%
      background-color blue
    .player3
      position absolute
      left 86px
      top 13px
      width 24px
      height 24px
      background-color black
    .player4
      position absolute
      left 113px
      top 13px
      width 0
      height 0
      border-left 12px solid transparent
      border-right 12px solid transparent
      border-bottom 24px solid yellow
  &.green
   box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5)
